<style>
  card .card-title {
    margin-bottom: 10px;
  }
  .page-wrapper > .container-fluid {
    padding: 0px !important;
}
.m-t-30 {
     margin-top: 0px;
}
</style>

<div class="row">
  <div class="col-lg-9 col-md-12 cole-sm-12 m-t-30">
      <div class="card" >
        <span style="padding: 15px 28px 0;">
          <a routerLink="/settings/roles/viewroles" class="btn btn-outline-default" style="width: 94px;font-size: 13px;color:black;border-radius: 5px;border: 1px solid #cfd7df;background-image: linear-gradient(to bottom,#fff,#f3f5f7);background-image: linear-gradient(to bottom,#fff,#f3f5f7);">
            <b><i class="fas fa-arrow-left"></i> Go Back</b>
           </a>
        </span>
          <div class="card-body" style="padding: 20px 26px 0;">
            <form class="form" #f="ngForm" >
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <h3 style="color: black;font-weight: 600;">New Role
                  <button *ngIf="!updatebtn" class="btn btn-dark" (click)="onTemplateFormSubmit()" [disabled]="!f.valid" style="background-image: linear-gradient(to bottom,#264966,#12344d);border-radius: 5px;font-weight: 400;color:white;float: right;margin-left: 10px;">
                    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                     Save</button>

                     <button *ngIf="updatebtn" class="btn btn-dark" (click)="update()" [disabled]="!f.valid" style="background-image: linear-gradient(to bottom,#264966,#12344d);border-radius: 5px;font-weight: 400;color:white;float: right;margin-left: 10px;">
                      <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                       Update</button>
                  &nbsp;&nbsp;
                  <a routerLink="/settings/roles/viewroles" class="btn btn-outline-default" style="border-radius: 5px;border: 1px solid #cfd7df;background-image: linear-gradient(to bottom,#fff,#f3f5f7);background-image: linear-gradient(to bottom,#fff,#f3f5f7);color: black;float: right;">
                     <b> Cancel </b>
                  </a>
                </h3>
                <br>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                  <label style="font-size: 14px;">Role name <span style="color: red;">*</span></label>
                  <input type="email" class="form-control" [(ngModel)]="this.role.rolename" name="rolename" required  #rolename="ngModel" >
                  <small class="form-text text-danger" *ngIf="!rolename.valid && (rolename.dirty || rolename.touched)">Please enter role name!</small>

              </div>
              </div>
            <br>

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <label style="font-size: 14px;">Description</label>
                <textarea type="text" class="form-control" [(ngModel)]="this.role.description" name="description"  #description="ngModel" ></textarea>
                </div>
            </div>
            <br>

            <div class="row">
              <div class="col-lg-8 col-md-8 col-sm-12">
                <label style="font-size: 14px;">Agents</label>&nbsp;&nbsp;
                <!-- <a (click)="openmodal(agentscontent)" style="color: blue;cursor: pointer;">No Agent - Add</a> -->
                <span>
                  <ng-multiselect-dropdown [placeholder]="'Select Agent'" name="fullname" #agents="ngModel"
                    [data]="agentname" [(ngModel)]="this.role.agentsingle" [settings]="agentsdropdownSettings"
                    (onSelect)="Agentselect($event)">
                  </ng-multiselect-dropdown>
                </span>
                </div>
            </div>

            <br>

            <hr>

            <h4>Permissions</h4>
            <br>
            <div class="row">
              <div class="col-lg-2 col-md-2 col-sm-2">
                <span style="color: black;font-weight: 500;">Scroll to</span>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2">
                <a style="color: blue;cursor: pointer;text-decoration: none;" (click)="scroll(tickets)">Tickets</a>
              </div>
              <span style="border-right: 1px #f5f7f9;" style="margin-right: -10px;"></span>
              <div class="col-lg-2 col-md-2 col-sm-2">
                <a style="color: blue;cursor: pointer;" (click)="scroll(customers)">Customers</a>
              </div>
              <span style="border-right: 1px #f5f7f9;"></span>
              <div class="col-lg-2 col-md-2 col-sm-2">
                <a style="color: blue;cursor: pointer;" (click)="scroll(Admin)">Admin</a>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-3" #tickets>
                <h5>Tickets</h5>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-9" style="border-left: 1px solid black;height: 210px;">
                Agent can <br><br>

                <fieldset class="radio">
                  <label>
                      <input type="radio" value="true" [(ngModel)]="this.role.viewtickets" name="viewtickets" #viewtickets="ngModel"> View all tickets
                  </label>
              </fieldset>
              <fieldset class="radio">
                  <label>
                      <input type="radio" value="false" [(ngModel)]="this.role.viewtickets" name="viewtickets" #viewtickets="ngModel"> View only assigned tickets
                  </label>
              </fieldset>

                <fieldset class="checkbox">
                  <label>
                      <input type="checkbox" [(ngModel)]="this.role.replytoticket" name="replytoticket" #replytoticket="ngModel"> Send reply to a ticket
                  </label>
                </fieldset>
                <fieldset class="checkbox">
                  <label>
                    <input type="checkbox" [(ngModel)]="this.role.forwardticket" name="forwardticket" #forwardticket="ngModel"> Forward a conversation
                  </label>
                </fieldset>

                <fieldset class="checkbox">
                  <label>
                    <input type="checkbox" [(ngModel)]="this.role.editticket" name="editticket" #editticket="ngModel"> Edit ticket properties
                  </label>
                </fieldset>

                <fieldset class="checkbox">
                  <label>
                    <input type="checkbox" [(ngModel)]="this.role.deleteticket" name="deleteticket" #deleteticket="ngModel"> Delete a ticket
                  </label>
                </fieldset>
              </div>
            </div>

            <br>

            <div class="row" #customers>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <h5>Customers</h5>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-9" style="border-left: 1px solid black;height: 200px;">
                Agent can <br><br>
                <fieldset class="checkbox">
                  <label>
                    <input type="checkbox" [(ngModel)]="this.role.viewcustomertab" name="viewcustomertab" #viewcustomertab="ngModel" (change)="customercheckbox()"> View customers tab
                  </label>
                </fieldset>

                <div style="margin-left: 20px;">
                  <fieldset class="checkbox">
                    <label>
                      <input type="checkbox" [(ngModel)]="this.role.createeditcontact" name="createeditcontact" #createeditcontact="ngModel" [disabled]="isDisabled"> Create or edit contact
                    </label>
                  </fieldset>
                  <fieldset class="checkbox">
                    <label>
                      <input type="checkbox" [(ngModel)]="this.role.deletecontact" name="deletecontact" #deletecontact="ngModel" [disabled]="isDisabled1"> Delete contact
                    </label>
                  </fieldset>
                </div>

                <fieldset class="checkbox">
                  <label>
                    <input type="checkbox" [(ngModel)]="this.role.viewcompanytab" name="viewcompanytab" #viewcompanytab="ngModel" (change)="companycheckbox()"> View company tab
                  </label>
                </fieldset>

                <div style="margin-left: 20px;">
                  <fieldset class="checkbox">
                    <label>
                      <input type="checkbox" [(ngModel)]="this.role.createeditcompany" name="createeditcompany" #createeditcompany="ngModel" [disabled]="isDisabled3"> Create or edit company
                    </label>
                  </fieldset>
                  <fieldset class="checkbox">
                    <label>
                      <input type="checkbox" [(ngModel)]="this.role.deletecompany" name="deletecompany" #deletecompany="ngModel" [disabled]="isDisabled4"> Delete compnay
                    </label>
                  </fieldset>
                </div>
              </div>
            </div>

            <br>

            <div class="row" #Admin>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <h5>Admin</h5>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-9" style="border-left: 1px solid black;height: 210px;">
                Agent can <br><br>
                <fieldset class="radio">
                  <label>
                      <input type="radio" value="false" [(ngModel)]="this.role.admin" name="admin" #admin="ngModel" [checked]="true" (change)="adminradio()"> Not view any Administrator options
                  </label>
              </fieldset>
              <fieldset class="radio">
                  <label>
                      <input type="radio" value="true" [(ngModel)]="this.role.admin" name="admin" #admin="ngModel" (change)="adminradio()"> Perform Operational Admin actions
                  </label>
              </fieldset>

                <div style="margin-left: 20px;">
                  <fieldset class="checkbox">
                    <label>
                      <input type="checkbox" [(ngModel)]="this.role.manageagent" name="manageagent" #manageagent="ngModel" [disabled]="isDisabled5"> Manage Agents
                    </label>
                  </fieldset>
                  <fieldset class="checkbox">
                    <label>
                      <input type="checkbox" [(ngModel)]="this.role.managetags" name="managetags" #managetags="ngModel" [disabled]="isDisabled6"> Manage tags
                    </label>
                  </fieldset>
                  <fieldset class="checkbox">
                    <label>
                      <input type="checkbox" [(ngModel)]="this.role.managetypes" name="managetypes" #managetypes="ngModel" [disabled]="isDisabled7"> Manage types
                    </label>
                  </fieldset>
                  <fieldset class="checkbox">
                    <label>
                      <input type="checkbox" [(ngModel)]="this.role.managegroups" name="managegroups" #managegroups="ngModel" [disabled]="isDisabled8"> Manage groups
                    </label>
                  </fieldset>
                </div>
              </div>
            </div>


            <br>
            <div class="row">
              <div class="col-12">
                <button *ngIf="!updatebtn" class="btn btn-dark" (click)="onTemplateFormSubmit()" [disabled]="!f.valid" style="background-image: linear-gradient(to bottom,#264966,#12344d);border-radius: 5px;font-weight: 400;color:white;float: right;margin-left: 10px;">
                  <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                   Save</button>

                   <button *ngIf="updatebtn" class="btn btn-dark" (click)="update()" [disabled]="!f.valid" style="background-image: linear-gradient(to bottom,#264966,#12344d);border-radius: 5px;font-weight: 400;color:white;float: right;margin-left: 10px;">
                    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                     Update</button>
                &nbsp;&nbsp;
                <a routerLink="/settings/roles/viewroles" class="btn btn-outline-default" style="border-radius: 5px;border: 1px solid #cfd7df;background-image: linear-gradient(to bottom,#fff,#f3f5f7);background-image: linear-gradient(to bottom,#fff,#f3f5f7);color: black;float: right;">
                   <b> Cancel </b>
                </a>
              </div>
            </div>

            <br>
          </form>
          </div>

          </div>
      </div>


      <div class="col-lg-3 col-md-12 col-sm-12 m-t-30" style="background-color: #f5f7f9;">
        <br>
        <div style="margin-top: 10px;margin-left: 20px;">
              <h5>Understanding Roles</h5>
              <p>Roles allow you to create and edit access permissions for agents. You can create new roles, specify what actions agents with these roles can perform within your help desk, and assign the role to agents.
                <br><br>
                For example, you can create a role for your Support Co-ordinators, allowing them to update fields and assign tickets, and even add notes internally, but not reply to customers.
                <br><br>
                Once you create and save a new Role you will be able to assign it to agents when you create or edit their profile by clicking on the Agents icon under the admin tab.</p>

              <h5>Admin Privileges</h5>
              <p>You can nominate whether you want an agent to have access to settings under the Admin tab. Agents with admin access can be Operation Agents with limited access, or Super Admins with the ability to edit all configurations. You can have as many Super Admins with the ability to view and modify your billing details, or as few as one.</p>

      </div>
    </div>
  </div>


  <!-- <ng-template #agentscontent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title"> Agents</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row" style="border: 1px solid rgb(204, 204, 204);border-radius: 3px;">
        <div class="col-12" style="min-height: 153px;
        max-height: 433px;
        overflow: scroll;
        position: relative;
        background: rgb(249, 249, 249);">

          <div class="loader" *ngIf="loadingmodal"></div>

          <div class="row" style="height: 47px;padding: 2px 5px;" *ngFor="let ag of agents;">
            <div class="col-2" style="padding: 10px;">
              R
            </div>
            <div class="col-4" style="padding: 10px;">
              A
            </div>
            <div class="col-6" style="padding: 10px;">
              {{ag.fullname}}
            </div>
          </div>

        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-9">
          <ng-multiselect-dropdown [placeholder]="'Select Agent'" name="fullname" required #agents="ngModel"
            [data]="agentname" [(ngModel)]="this.role.agentsingle" [settings]="agentsdropdownSettings"
            (onSelect)="Agentselect($event)">
          </ng-multiselect-dropdown>
        </div>
        <div class="col-3">
          <button class="btn btn-dark" (click)="addagent()" style="width: 94px;background-image: linear-gradient(to bottom,#264966,#12344d);border-radius: 5px;font-weight: 400;color:white;float: right;margin-left: 10px;">
            <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
             Add</button>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-default" style="font-weight: 600;width: 94px;font-size: 13px;color:black;border-radius: 5px;border: 1px solid #cfd7df;background-image: linear-gradient(to bottom,#fff,#f3f5f7);background-image: linear-gradient(to bottom,#fff,#f3f5f7);" (click)="c('Close click')">Cancel</button>
      <button class="btn btn-dark" (click)="onTemplateFormSubmit()" [disabled]="!f.valid" style="width: 94px;background-image: linear-gradient(to bottom,#264966,#12344d);border-radius: 5px;font-weight: 400;color:white;float: right;margin-left: 10px;">
        <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
         Done</button>
    </div>
  </ng-template> -->
